asgiref==3.5.2
dj-database-url==0.5.0
Django==4.0.5
django-cors-headers==3.13.0
gunicorn==20.1.0
joblib==1.1.0
numpy==1.22.4
psycopg2==2.9.3
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
whitenoise==6.2.0
