<div class="row justify-content-md-center mb-4">
    <div class="col-6">
        <h1 class="text-center text-decoration-underline"> Language Detector</h1>
    </div>
</div>


<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="mb-3">
            <input class="form-control" rows="3" placeholder="Enter Text" [(ngModel)]="text"    (input)="textChanging()"/>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="d-grid gap-2">
            <button class="btn btn-dark" type="button" (click)="detectLanguage()">
                
                <span   *ngIf="!processing"> Detect Language</span> 
                <div  *ngIf="processing" class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </button>
        </div>
    </div>
</div>

<div *ngIf="result" class="row justify-content-md-center pt-3">
    <div class="col-6">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Result : {{ result}}</h5>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-md-center mt-4 ">
    <div class="col-6 bordered">
        <div class="card" style="width: 100%;">

            <h3 class="ps-3 pt-3"> History</h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Text</th>
                    <th scope="col">Language</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let history of histories">
                    <th scope="row">{{ history.text }} </th>
                    <th>{{ history.result }}</th>
                  </tr>
                </tbody>
              </table>





        </div>
        
    </div>
</div>

